/*
Para quitar puntos en las listas 
ul{
    list-style-type: none;

Para quitar los margenes
h2{
    margin:0 px;


Cuando se quiere hacer en toda la página web y se quiere limpiar todos los estilos se tendra que poner un asterisco *

ejemplo
*{
    margin: 0 px;
    font-size: 14px; 
    y asi con todo lo que queramos quitar.

    Después de esto añadires una hoja de stilos css con lo estilos que queremos
*/
